{% extends 'base.html' %}
{% block title %}Projects Page{% endblock %}
{% block content %}

<section class="container-fluid index_wrapper">
  
   <h1 class="blog_list">Projects List</h1>

<div class=" row container-fluid justify-content-center">
  <!-- row container-fluid my-5 mt-5 -->
    <!-- {%for article in articles %} -->
   <div class=" col-md-6 col-lg-3 my-2 mx-4">
    <!-- col-md-6 col-lg-4 -->
     
      <h2><a href="">NOthing Yet</a></h2>
      <p>Will fill this up hopefully in the future</p>
      
      <p class=""><b>Published Date: </b>NA</p>

      <p class=""><b>Author: </b>NA</p>
     
    </div>
<!-- {%endfor%} -->
</div>

</section>

{% endblock %}
